<div class="block lg:flex">
  <div class="bg-blue-900 py-24 px-20 sm:px-40 lg:pt-64">
    <h1 class="text-teal-400 text-6xl">Expensely</h1>
    <p class="text-white text-3xl">Let us take care of your expenses.</p>
  </div>
  <div class="flex items-center justify-center w-screen h-screen background-pattern">
    <div class="w-full max-w-xs">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email"> Email </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email"
            type="email"
            placeholder="Email"
          />
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password"> Password </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="password"
            type="password"
            placeholder="Password"
          />
        </div>
        <div class="flex items-center justify-between">
          <button
            class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            Sign In
          </button>
          <a class="inline-block align-baseline font-bold text-sm text-gray-500 hover:text-black" href="#"> Forgot Password? </a>
        </div>
      </form>
    </div>
  </div>
</div>
