<form trapFocus *transloco="let t" class="w-full sm:w-88 bg-white shadow-lg rounded" [formGroup]="setupForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col">
    <div class="px-4 sm:px-6 py-4 sm:py-6">
      <div class="space-y-4 sm:space-y-6">
        <p class="text-gray-700">{{ t('setup.text.message') }}</p>

        <!-- Currency -->
        <div>
          <div class="flex space-x-4 items-center">
            <label for="currency" class="font-medium text-gray-500">{{ t('setup.fields.currency') }}</label>
            <select
              id="currency"
              name="currency"
              formControlName="currency"
              required
              class="w-full border-transparent bg-transparent text-gray-500 rounded-md focus:border-teal-400 focus:ring-teal-400"
            >
              <option *ngFor="let currency of currencies$ | async; let i = index" [value]="currency.id" [selected]="false">
                {{ currency.code }} - {{ currency.name }}
              </option>
            </select>
          </div>

          <div *ngIf="submitted && setupForm.controls.currency.errors" class="mt-2 text-sm text-red-500">
            <div *ngIf="setupForm.controls.currency.errors.required">{{ t('setup.errors.currency.required') }}</div>
          </div>
        </div>

        <!-- Submit form -->
        <button
          type="submit"
          [disabled]="isLoading$ | async"
          class="w-full py-2 px-4 rounded font-bold bg-teal-500 hover:bg-teal-600 text-white focus:outline-none focus:bg-teal-600 disabled"
        >
          {{ t('setup.actions.selectPrimaryCurrency') }}
        </button>

        <div *ngIf="requestSent" class="flex items-center justify-center">
          <exp-spinner class="w-14 h-14"></exp-spinner>
        </div>
      </div>
    </div>
  </div>
</form>
