<div trapFocus *transloco="let t" class="flex flex-col items-center">
  <!-- Title and CTA -->
  <div class="mt-auto flex flex-col items-center">
    <h1 class="text-teal-400 tracking-wide text-4xl uppercase mt-10 md:text-8xl mb-4 md:mb-8">{{ t('login.text.title') }}</h1>
    <p class="text-center text-white font-medium text-xl md:text-4xl mb-8 md:mb-12">
      {{ t('login.text.subtitle') }}
    </p>
  </div>

  <!-- Content -->
  <div class="mb-auto">
    <div class="mb-10">
      <form class="w-64 md:w-88 bg-white shadow-lg rounded" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col divide-y-2 divide-gray-200">
          <div class="p-4 md:p-6">
            <div class="space-y-2 md:space-y-4">
              <!-- Email input and error messages -->
              <div>
                <label for="email" class="sr-only">{{ t('login.fields.email') }}</label>
                <input
                  class="md:leading-8 shadow rounded border-gray-100 w-full py-2 px-3 focus:outline-none focus:ring-2"
                  [ngClass]="{
                    'border-red-500 ring-2 ring-inset ring-red-500 focus:border-red-500 focus:ring-red-500':
                      submitted && loginForm.controls.email.errors,
                    'focus:border-teal-400 focus:ring-teal-400': !submitted || !loginForm.controls.email.errors
                  }"
                  id="email"
                  name="email"
                  formControlName="email"
                  type="email"
                  placeholder="{{ t('login.fields.email') }}"
                  required
                />
                <div *ngIf="submitted && loginForm.controls.email.errors" class="mt-2 text-xs text-red-500">
                  <div *ngIf="loginForm.controls.email.errors.required">{{ t('login.errors.email.required') }}</div>
                  <div *ngIf="loginForm.controls.email.errors.email">{{ t('login.errors.email.invalidFormat') }}</div>
                </div>
              </div>

              <!-- Password input and error messages -->
              <div>
                <label for="password" class="sr-only">{{ t('login.fields.password') }}</label>
                <input
                  class="md:leading-8 shadow rounded border-gray-100 w-full py-2 px-3 focus:outline-none focus:ring-2"
                  [ngClass]="{
                    'border-red-500 ring-2 ring-inset ring-red-500 focus:border-red-500  focus:ring-red-500':
                      submitted && loginForm.controls.password.errors,
                    'focus:border-teal-400 focus:ring-teal-400': !submitted || !loginForm.controls.password.errors
                  }"
                  id="password"
                  name="password"
                  formControlName="password"
                  type="password"
                  placeholder="{{ t('login.fields.password') }}"
                  required
                />
                <div *ngIf="submitted && loginForm.controls.password.errors" class="mt-2 text-xs text-red-500">
                  <div *ngIf="loginForm.controls.password.errors.required">{{ t('login.errors.password.required') }}</div>
                </div>
                <div *ngIf="invalidEmailOrPassword" class="mt-2 text-xs text-red-500 text-center">
                  {{ t('login.errors.invalidEmailOrPassword') }}
                </div>
              </div>
            </div>

            <!-- Log In section -->
            <div class="flex flex-col items-center mt-4 md:mt-6">
              <button
                type="submit"
                [disabled]="isLoading$ | async"
                class="w-36 py-2 px-4 rounded font-bold bg-teal-500 hover:bg-teal-600 text-white focus:outline-none focus:bg-teal-600 disabled"
              >
                {{ t('login.actions.login') }}
              </button>
              <!-- <a [disabled]="isLoading$ | async" class="mt-3 md:mt-0 font-bold text-sm text-gray-400 hover:text-black disabled" href="#">
                {{ t('login.actions.forgotPassword') }}
              </a> -->
            </div>
          </div>

          <!-- Sign up section -->
          <div class="flex flex-col items-center px-4 pt-4 pb-4 md:pb-6 rounded-b bg-gray-50">
            <p class="text-sm text-gray-500">{{ t('login.actions.registerText') }}</p>
            <button
              [disabled]="isLoading$ | async"
              class="w-36 px-4 py-2 mt-4 rounded font-bold bg-teal-500 hover:bg-teal-600 text-white focus:outline-none focus:bg-teal-600 disabled"
              (click)="redirectToRegister()"
            >
              {{ t('login.actions.register') }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
