<ng-container
  *ngIf="{
    budget: budget$ | async,
    isLoading: isLoading$ | async
  } as data"
>
  <!-- Budget details -->
  <div trapFocus *ngIf="data.budget" class="flex justify-center w-full relative">
    <div *transloco="let t" class="bg-white shadow-lg rounded-lg w-full md:max-w-2xl">
      <div class="divide-y divide-gray-200">
        <div class="px-6 py-6">
          <div class="flex items-center justify-between">
            <h3 class="text-lg font-medium text-gray-700">{{ t('budgets.details.text.title') }}</h3>

            <exp-return [returnUrl]="'/budgets'"></exp-return>
          </div>
        </div>

        <!-- Budget info -->
        <div class="px-6 py-6 space-y-4">
          <div>
            <label for="name" class="block font-medium text-gray-500">{{ t('budgets.details.fields.name') }}</label>
            <div id="name" class="mt-1 block">
              {{ data.budget.name }}
            </div>
          </div>

          <div>
            <label for="categories" class="block font-medium text-gray-500">{{ t('budgets.details.fields.categories') }}</label>

            <span id="categories" *ngIf="data.budget.categories.length === 0; else selectedCategories" class="mt-1 block">
              {{ t('budgets.details.text.noCategories') }}
            </span>

            <ng-template #selectedCategories>
              <div id="categories" *transloco="let t; read: 'categories'" class="block">
                <span *ngFor="let category of data.budget.categories" class="inline-block rounded-md py-2 px-4 mt-2 mr-2 bg-gray-100">
                  {{ t(category) }}
                </span>
              </div>
            </ng-template>
          </div>

          <div>
            <label for="amount" class="block font-medium text-gray-500">{{ t('budgets.details.fields.amount') }}</label>
            <div id="amount" class="mt-1 block">
              {{ data.budget.amount }}
            </div>
          </div>

          <div>
            <label for="startDate" class="block font-medium text-gray-500">{{ t('budgets.details.fields.startDate') }}</label>
            <div id="startDate" class="mt-1 block">
              {{ data.budget.startDate | date }}
            </div>
          </div>

          <div>
            <label for="endDate" class="block font-medium text-gray-500">{{ t('budgets.details.fields.endDate') }}</label>
            <div id="endDate" class="mt-1 block">
              {{ data.budget.endDate | date }}
            </div>
          </div>
        </div>

        <div class="flex items-center justify-between px-6 py-6">
          <!-- Delete budget -->
          <button
            [disabled]="data.isLoading"
            class="px-4 py-2 rounded-md font-medium text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled"
            (click)="deleteBudget(data.budget.id)"
          >
            {{ t('budgets.delete.actions.delete') }}
          </button>

          <!-- Update budget -->
          <div>
            <button
              [disabled]="data.isLoading"
              class="px-4 py-2 rounded-md text-white bg-teal-500 hover:bg-teal-600 focus:bg-teal-600 focus:outline-none disabled"
              (click)="updateBudget(data.budget.id)"
            >
              {{ t('budgets.details.actions.update') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Spinner -->
  <div *ngIf="data.isLoading && !data.budget">
    <exp-spinner class="absolute inset-center w-20 h-20"></exp-spinner>
  </div>
</ng-container>
