<ng-container
  *ngIf="{
    transactionList: {
      transactions: transactionListTransactions$ | async,
      isLoading: transactionListIsLoading$ | async,
      error: transactionListError$ | async
    },
    transactionSummary: {
      expense: transactionSummaryExpense$ | async,
      income: transactionSummaryIncome$ | async,
      isLoading: transactionSummaryIsLoading$ | async,
      error: transactionSummaryError$ | async
    },
    expensesPerCategory: {
      chartData: expensesPerCategoryChartData$ | async,
      chartTooltips: expensesPerCategoryChartTooltips$ | async,
      chartLabels: expensesPerCategoryChartLabels$ | async,
      isLoading: expensesPerCategoryIsLoading$ | async,
      error: expensesPerCategoryError$ | async
    }
  } as data"
>
  <div class="flex flex-col md:flex-row w-full">
    <div>
      <exp-transaction-summary
        [expense]="data.transactionSummary.expense"
        [income]="data.transactionSummary.income"
        [isLoading]="data.transactionSummary.isLoading"
        [error]="data.transactionSummary.error"
      >
      </exp-transaction-summary>

      <exp-expenses-per-category-chart
        [chartData]="data.expensesPerCategory.chartData"
        [chartTooltips]="data.expensesPerCategory.chartTooltips"
        [chartLabels]="data.expensesPerCategory.chartLabels"
        [isLoading]="data.expensesPerCategory.isLoading"
        [error]="data.expensesPerCategory.error"
      ></exp-expenses-per-category-chart>
    </div>

    <exp-recent-transaction-list
      class="flex-grow mt-4 md:mt-0 ml-0 md:ml-8"
      [transactions]="data.transactionList.transactions"
      [isLoading]="data.transactionList.isLoading"
      [error]="data.transactionList.error"
      (transactionSelectedEvent)="selectTransaction($event)"
    ></exp-recent-transaction-list>
  </div>
</ng-container>
