<ng-container
  *ngIf="{
    budget: budget$ | async,
    categories: categories$ | async,
    currencies: currencies$ | async,
    isLoading: isLoading$ | async
  } as data"
>
  <div *ngIf="data.budget" class="flex justify-center w-full">
    <div *transloco="let t" class="rounded-lg divide-y divide-gray-200 bg-white w-full md:max-w-2xl">
      <!-- Title -->
      <div class="px-6 py-6">
        <h3 class="text-lg font-medium text-gray-700">{{ t('budgets.update.text.title') }}</h3>
      </div>

      <form trapFocus [formGroup]="updateBudgetForm" (ngSubmit)="onSubmit()">
        <div class="rounded-b-md divide-y divide-gray-200 relative">
          <!-- Budget form -->
          <div class="px-6 py-6 space-y-4">
            <!-- Name -->
            <div>
              <label for="name" class="block font-medium text-gray-500">{{ t('budgets.update.fields.name') }}</label>
              <input
                id="name"
                name="name"
                formControlName="name"
                type="text"
                required
                maxlength="100"
                class="mt-1 block w-full rounded-md shadow-sm border-gray-300 focus:border-teal-400 focus:ring-teal-400"
              />
              <div *ngIf="submitted && updateBudgetForm.controls.name.errors" class="mt-2 text-xs text-red-500">
                <div *ngIf="updateBudgetForm.controls.name.errors.required">
                  {{ t('budgets.update.errors.name.required') }}
                </div>
                <div *ngIf="updateBudgetForm.controls.name.errors.maxlength">
                  {{ t('budgets.update.errors.name.maxLength') }}
                </div>
              </div>
            </div>

            <!-- Amount and Currency -->
            <div>
              <label for="amount" class="block font-medium text-gray-500">{{ t('budgets.update.fields.amount') }}</label>
              <div class="mt-1 relative rounded-md shadow-sm">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                  <span class="text-gray-500 text-sm">
                    <svg class="w-6 h-6 stroke-current" fill="none" viewBox="0 0 24 24">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                      />
                    </svg>
                  </span>
                </div>
                <input
                  id="amount"
                  name="amount"
                  formControlName="amount"
                  type="number"
                  step="0.01"
                  min="0"
                  required
                  class="block w-full pl-11 pr-22 rounded-md shadow-sm border-gray-300 focus:border-teal-400 focus:ring-teal-400"
                />
                <div class="absolute inset-y-0 right-0 flex items-center">
                  <label for="currency" class="sr-only">{{ t('budgets.update.fields.currency') }}</label>
                  <select
                    id="currency"
                    name="currency"
                    formControlName="currency"
                    required
                    class="h-full py-0 pl-2 pr-9 border-transparent bg-transparent text-gray-500 rounded-r-md focus:border-teal-400 focus:ring-teal-400"
                  >
                    <option *ngFor="let currency of data.currencies" [value]="currency.id">
                      {{ currency.code }}
                    </option>
                  </select>
                </div>
              </div>
              <div *ngIf="submitted && updateBudgetForm.controls.amount.errors" class="mt-2 text-xs text-red-500">
                <div *ngIf="updateBudgetForm.controls.amount.errors.required">
                  {{ t('budgets.update.errors.amount.required') }}
                </div>
                <div *ngIf="updateBudgetForm.controls.amount.errors.min">
                  {{ t('budgets.update.errors.amount.min') }}
                </div>
              </div>
              <div *ngIf="submitted && updateBudgetForm.controls.currency.errors" class="mt-2 text-xs text-red-500">
                <div *ngIf="updateBudgetForm.controls.currency.errors.required">
                  {{ t('budgets.update.errors.currency.required') }}
                </div>
              </div>
            </div>

            <!-- Categories -->
            <div>
              <label for="categories" class="block font-medium text-gray-500">{{ t('budgets.update.fields.categories') }}</label>

              <exp-select-budget-categories
                id="categories"
                name="categories"
                [categories]="data.categories"
                [selectedCategoryIds]="data.budget.categories"
                (selectedCategoriesChangedEvent)="setSelectedCategories($event)"
              >
              </exp-select-budget-categories>
            </div>

            <!-- Start date -->
            <div>
              <label for="occurredOn" class="block font-medium text-gray-500">{{ t('budgets.update.fields.startDate') }}</label>
              <input
                id="startDate"
                name="startDate"
                formControlName="startDate"
                type="date"
                required
                class="mt-1 block w-full rounded-md shadow-sm border-gray-300 focus:border-teal-400 focus:ring-teal-400"
              />
              <div *ngIf="submitted && updateBudgetForm.controls.startDate.errors" class="mt-2 text-xs text-red-500">
                <div *ngIf="updateBudgetForm.controls.startDate.errors.required">
                  {{ t('budgets.update.errors.startDate.required') }}
                </div>
              </div>
            </div>

            <!-- End date -->
            <div>
              <label for="occurredOn" class="block font-medium text-gray-500">{{ t('budgets.update.fields.endDate') }}</label>
              <input
                id="endDate"
                name="endDate"
                formControlName="endDate"
                type="date"
                required
                class="mt-1 block w-full rounded-md shadow-sm border-gray-300 focus:border-teal-400 focus:ring-teal-400"
              />
              <div
                *ngIf="submitted && (updateBudgetForm.controls.endDate?.errors || updateBudgetForm.controls.startDate?.errors)"
                class="mt-2 text-xs text-red-500"
              >
                <div *ngIf="updateBudgetForm.controls.endDate.errors?.required">
                  {{ t('budgets.update.errors.endDate.required') }}
                </div>
                <div
                  *ngIf="
                    updateBudgetForm.controls.endDate.errors?.endDateAfterStartDate ||
                    updateBudgetForm.controls.startDate.errors?.startDateBeforeEndDate
                  "
                >
                  {{ t('budgets.update.errors.endDate.endDateAfterStartDate') }}
                </div>
              </div>
            </div>
          </div>

          <!-- Action buttons -->
          <div class="px-6 py-6 flex justify-end rounded-b-md">
            <div class="flex space-x-4 items-center">
              <div>
                <button
                  [disabled]="data.isLoading"
                  class="px-4 py-2 rounded-md font-medium text-teal-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled"
                  (click)="onCancel()"
                >
                  {{ t('budgets.update.actions.cancel') }}
                </button>
              </div>
              <div>
                <button
                  type="submit"
                  [disabled]="data.isLoading"
                  class="px-4 py-2 rounded-md font-medium text-white bg-teal-500 hover:bg-teal-600 focus:bg-teal-600 focus:outline-none disabled"
                >
                  {{ t('budgets.update.actions.updateBudget') }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Spinner -->
  <div *ngIf="data.isLoading && !data.budget">
    <exp-spinner class="absolute inset-center w-20 h-20"></exp-spinner>
  </div>
</ng-container>
