<div
  class="relative"
  *ngIf="{
    selectedLanguage: selectedLanguage$ | async
  } as data"
>
  <div class="bg-white rounded-md py-2 w-32 hover:bg-gray-100 cursor-pointer" (click)="toggleLanguagePicker()">
    <div class="flex items-center justify-center space-x-4 px-4 py-1">
      <img class="h-6 w-6" src="{{ data.selectedLanguage.flag }}" alt="{{ data.selectedLanguage.name }}" />
      <span class="uppercase font-medium">{{ data.selectedLanguage.code }}</span>
      <div class="h-4 w-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </div>
    </div>
  </div>

  <div *ngIf="isDropdownMenuOpen" class="absolute right-0 mt-2 w-32">
    <ul class="bg-white rounded-md py-2 space-y-1 shadow-lg">
      <li class="cursor-pointer hover:bg-gray-100" *ngFor="let language of languages" (click)="changeLanguage(language.code)">
        <div class="flex items-center justify-center space-x-4 px-4 py-2">
          <img class="h-6 w-6" src="{{ language.flag }}" alt="language.name" />
          <span class="uppercase font-medium">{{ language.code }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
