<div class="fixed z-20 inset-0 flex flex-col items-center justify-center bg-gray-900 bg-opacity-40" (click)="dismiss()">
  <div class="bg-white rounded-md max-w-md" (click)="stopPropagation($event)">
    <div class="p-4">
      <div class="font-medium text-gray-500">{{ data.message }}</div>
      <div trapFocus class="flex justify-end mt-6 space-x-4">
        <button
          class="px-4 py-2 rounded-md tracking-wider text-teal-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100"
          (click)="cancel($event)"
        >
          {{ data.cancelButtonText }}
        </button>
        <button
          class="px-4 py-2 rounded-md tracking-wider text-teal-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100"
          (click)="confirm($event)"
        >
          {{ data.confirmButtonText }}
        </button>
      </div>
    </div>
  </div>
</div>
