<div class="bg-white mt-8 rounded-lg shadow-lg p-4 w-full" [ngClass]="{ 'h-40': isLoading }">
  <!-- Spinner -->
  <div *ngIf="isLoading" class="flex items-center justify-center h-full">
    <exp-spinner class="w-24 h-24"></exp-spinner>
  </div>

  <!-- Chart -->
  <canvas
    *ngIf="!isLoading && !error"
    baseChart
    [data]="chartData"
    [labels]="chartLabels"
    [chartType]="chartType"
    [options]="chartOptions"
    [legend]="chartLegend"
  >
  </canvas>

  <div *ngIf="error && !isLoading">
    <p *transloco="let t" class="text-base text-center">{{ t('dashboard.expensesPerCategory.error') }}</p>
  </div>
</div>
