<ng-container
  *ngIf="{
    transaction: transaction$ | async,
    isLoading: isLoading$ | async
  } as data"
>
  <!-- Transaction details -->
  <div trapFocus *ngIf="data.transaction" class="flex justify-center w-full relative">
    <div *transloco="let t" class="bg-white shadow-lg rounded-lg w-full md:max-w-2xl">
      <div class="divide-y divide-gray-200">
        <div class="px-6 py-6">
          <div class="flex items-center justify-between">
            <h3 class="text-lg font-medium text-gray-700">{{ t('transactions.details.text.title') }}</h3>

            <exp-return [returnUrl]="'/transactions'"></exp-return>
          </div>
        </div>

        <div>
          <!-- Transaction info -->
          <exp-transaction-information [transaction]="data.transaction" [isLoading]="data.isLoading"></exp-transaction-information>
        </div>

        <div class="flex items-center justify-between px-6 py-6">
          <!-- Delete transaction -->
          <exp-delete-transaction-button
            [transactionId]="data.transaction.id"
            (transactionDeletedEvent)="deleteTransaction($event)"
          ></exp-delete-transaction-button>

          <div>
            <button
              [disabled]="data.isLoading"
              class="px-4 py-2 rounded-md text-white bg-teal-500 hover:bg-teal-600 focus:bg-teal-600 focus:outline-none disabled"
              (click)="updateTransaction(data.transaction.id)"
            >
              {{ t('transactions.details.actions.update') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Spinner -->
  <div *ngIf="data.isLoading && !data.transaction">
    <exp-spinner class="absolute inset-center w-20 h-20"></exp-spinner>
  </div>
</ng-container>
