<div class="flex">
  <exp-transaction-summary
    [title]="'Expense'"
    [formattedTransaction]="transactionSummary.expense$ | async"
    timePeriod="This month."
    [isLoading]="transactionSummary.isLoading$ | async"
    [error]="transactionSummary.error$ | async"
  >
  </exp-transaction-summary>
  <exp-transaction-summary
    class="ml-8"
    [title]="'Income'"
    [formattedTransaction]="transactionSummary.income$ | async"
    timePeriod="This month."
    [isLoading]="transactionSummary.isLoading$ | async"
    [error]="transactionSummary.error$ | async"
  >
  </exp-transaction-summary>
</div>

<div class="flex">
  <exp-transaction-list
    [transactions]="transaction.transactions$ | async"
    [isLoading]="transaction.isLoading$ | async"
    [error]="transaction.error$ | async"
  ></exp-transaction-list>
</div>
