<div class="flex flex-col md:flex-row w-full">
  <exp-transaction-summary
    [expense]="transactionSummaryFacade.expense$ | async"
    [income]="transactionSummaryFacade.income$ | async"
    [isLoading]="transactionSummaryFacade.isLoading$ | async"
    [error]="transactionSummaryFacade.error$ | async"
  >
  </exp-transaction-summary>

  <exp-transaction-list
    class="flex-grow mt-4 md:mt-0 ml-0 md:ml-8"
    [transactions]="transactionListFacade.transactions$ | async"
    [isLoading]="transactionListFacade.isLoading$ | async"
    [error]="transactionListFacade.error$ | async"
  ></exp-transaction-list>
</div>
