<div *transloco="let t" class="flex space-x-4 md:space-x-8 h-32 md:h-40">
  <!-- Expenses summary -->
  <div class="w-60 md:w-64 bg-white rounded-lg shadow-lg divide-y divide-gray-200">
    <!-- Title -->
    <div class="flex items-center px-4 py-2 md:py-4 space-x-3">
      <div class="text-xl md:text-2xl font-medium tracking-wide text-gray-700">{{ t('dashboard.transactionSummary.expenses') }}</div>
      <div class="md:mt-1 rounded-full h-1 w-1 bg-gray-900"></div>
      <div class="md:mt-1 text-base text-gray-400">{{ t('dashboard.transactionSummary.timePeriod') }}</div>
    </div>

    <!-- Content -->
    <div class="py-6 md:py-8">
      <!-- Spinner -->
      <div *ngIf="isLoading" class="flex items-center justify-center">
        <exp-spinner class="-mt-3 w-14 h-14"></exp-spinner>
      </div>

      <!-- Error message -->
      <div *ngIf="error && !isLoading">
        <p class="text-base text-center">{{ t('dashboard.transactionSummary.expensesError') }}</p>
      </div>

      <!-- Expenses transaction summary -->
      <div *ngIf="!isLoading && !error" class="flex items-center justify-center">
        <div class="text-xl md:text-2xl text-red-400">{{ expense }}</div>
      </div>
    </div>
  </div>

  <!-- Incomes summary -->
  <div class="w-60 md:w-64 bg-white rounded-lg shadow-lg divide-y divide-gray-200">
    <!-- Title -->
    <div class="flex items-center px-4 py-2 md:py-4 space-x-3">
      <div class="text-xl md:text-2xl font-medium tracking-wide text-gray-700">{{ t('dashboard.transactionSummary.incomes') }}</div>
      <div class="md:mt-1 rounded-full h-1 w-1 bg-gray-900"></div>
      <div class="md:mt-1 text-base text-gray-400">{{ t('dashboard.transactionSummary.timePeriod') }}</div>
    </div>

    <!-- Content -->
    <div class="py-6 md:py-8">
      <!-- Spinner -->
      <div *ngIf="isLoading" class="flex items-center justify-center">
        <exp-spinner class="-mt-3 w-14 h-14"></exp-spinner>
      </div>

      <!-- Error message -->
      <div *ngIf="error && !isLoading">
        <p class="text-base text-center">{{ t('dashboard.transactionSummary.incomesError') }}</p>
      </div>

      <!-- Incomes transaction summary -->
      <div *ngIf="!isLoading && !error" class="flex items-center justify-center">
        <div class="text-xl md:text-2xl text-teal-500">{{ income }}</div>
      </div>
    </div>
  </div>
</div>
