<div class="flex space-x-8 h-44">
  <!-- Expenses summary -->
  <div class="w-64 bg-white rounded-lg shadow-lg divide-y divide-gray-200">
    <!-- Title -->
    <div class="px-4 py-2">
      <div class="text-3xl font-medium tracking-wide text-gray-700">Expenses</div>
      <div class="mt-1 text-base text-gray-400">This month</div>
    </div>

    <!-- Content -->
    <div class="py-7">
      <!-- Spinner -->
      <div *ngIf="isLoading" class="flex items-center justify-center">
        <exp-spinner class="-mt-2 w-14 h-14"></exp-spinner>
      </div>

      <!-- Error message -->
      <div *ngIf="error && !isLoading">
        <p class="text-base text-center">Expenses summary is currently unavailable.</p>
      </div>

      <!-- Expenses transaction summary -->
      <div *ngIf="!isLoading && !error" class="flex items-center justify-center">
        <div class="text-3xl text-red-400">{{ expense }}</div>
      </div>
    </div>
  </div>

  <!-- Incomes summary -->
  <div class="w-64 bg-white rounded-lg shadow-lg divide-y divide-gray-200">
    <div class="px-4 py-2">
      <div class="text-3xl font-medium tracking-wide text-gray-700">Incomes</div>
      <div class="mt-1 text-base text-gray-400">This month</div>
    </div>

    <!-- Content -->
    <div class="py-7">
      <!-- Spinner -->
      <div *ngIf="isLoading" class="flex items-center justify-center">
        <exp-spinner class="-mt-2 w-14 h-14"></exp-spinner>
      </div>

      <!-- Error message -->
      <div *ngIf="error && !isLoading">
        <p class="text-base text-center">Incomes summary is currently unavailable.</p>
      </div>

      <!-- Incomes transaction summary -->
      <div *ngIf="!isLoading && !error" class="flex items-center justify-center">
        <div class="text-3xl text-teal-500">{{ income }}</div>
      </div>
    </div>
  </div>
</div>
