<div class="flex flex-col items-center overflow-y-auto h-screen w-screen bg-gradient-to-b from-light-blue-900 to-cyan-600">
  <!-- Title and CTA -->
  <div class="mt-auto flex flex-col items-center">
    <h1 class="text-teal-400 tracking-wide text-4xl uppercase mt-10 md:text-8xl mb-4 md:mb-8">Expensely</h1>
    <p class="text-white font-medium text-lg md:text-4xl mb-8 md:mb-12">Let us take care of your expenses.</p>
  </div>

  <!-- Content -->
  <div class="mb-auto">
    <div class="mb-10">
      <ng-content></ng-content>
    </div>
  </div>
</div>
