<ng-container *transloco="let t">
  <div *ngIf="transaction" class="px-6 py-6 space-y-4">
    <div>
      <label for="description" class="block font-medium text-gray-500">{{ t('transactions.details.fields.description') }}</label>
      <div id="description" class="mt-1 block">
        {{ transaction.description }}
      </div>
    </div>

    <div>
      <label for="category" class="block font-medium text-gray-500">{{ t('transactions.details.fields.category') }}</label>
      <div *transloco="let t; read: 'categories'" id="category" class="mt-1 block">
        {{ t(transaction.category) }}
      </div>
    </div>

    <div>
      <label for="amount" class="block font-medium text-gray-500">{{ t('transactions.details.fields.amount') }}</label>
      <div id="amount" class="mt-1 block">
        {{ transaction.formattedAmount }}
      </div>
    </div>

    <div>
      <label for="occurredOn" class="block font-medium text-gray-500">{{ t('transactions.details.fields.occurredOn') }}</label>
      <div id="occurredOn" class="mt-1 block">
        {{ transaction.occurredOn | date }}
      </div>
    </div>
  </div>
</ng-container>
