<div *transloco="let t" class="bg-white rounded-lg shadow-lg pb-4">
  <!-- Title -->
  <div class="flex items-center space-x-3 px-4 py-2 md:py-4">
    <svg class="w-6 md:w-7 h-6 md:h-7 stroke-current text-gray-500" fill="none" viewBox="0 0 24 24">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
      />
    </svg>
    <span class="text-xl md:text-2xl font-medium tracking-wide text-gray-700">{{ t('dashboard.recentTransactions.title') }}</span>
  </div>

  <!-- Transactions list container -->
  <ul class="divide-y divide-gray-200 space-y-2 md:space-y-4">
    <!-- Spinner -->
    <div *ngIf="isLoading" class="flex items-center justify-center py-10">
      <exp-spinner class="w-24 h-24"></exp-spinner>
    </div>

    <!-- Error message -->
    <div *ngIf="error && !isLoading" class="flex items-center justify-center h-40">
      <p class="text-base text-center">{{ t('dashboard.recentTransactions.error') }}</p>
    </div>

    <!-- No transactions  found  -->
    <div *ngIf="!isLoading && !error && !transactions.length" class="flex items-center justify-center h-40">
      <p class="text-base text-center">{{ t('dashboard.recentTransactions.notFound') }}</p>
    </div>

    <!-- Transactions list items -->
    <li class="px-4 pt-1 md:pt-2 cursor-pointer" *ngFor="let transaction of transactions" (click)="selectTransaction(transaction.id)">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-center space-x-6">
          <div>
            <div class="tracking-wide text-gray-400">
              {{ transaction.occurredOn | date }}
            </div>
          </div>
          <div class="flex flex-col justify-start">
            <div class="text-lg tracking-wide">
              {{ transaction.description }}
            </div>
            <div class="tracking-wide text-sm text-gray-500 mt-1">
              <span *transloco="let t; read: 'categories'" class="bg-red-200 rounded-l-full rounded-r-full px-2 py-1">
                {{ t(transaction.category) }}
              </span>
            </div>
          </div>
        </div>
        <div class="text-lg text-gray-700">
          {{ transaction.formattedAmount }}
        </div>
      </div>
    </li>
  </ul>
</div>
