<ng-container *transloco="let t; read: 'categories'">
  <div class="-mt-1 mb-2">
    <div
      *ngFor="let category of selectedCategories"
      class="inline-block mt-2 mr-2 rounded-md bg-gray-100 cursor-pointer"
      (click)="unselectCategory(category)"
    >
      <div class="flex items-center space-x-2 pl-4 pr-3 py-2">
        <span class="inline-block">
          {{ t(category.name) }}
        </span>

        <span class="inline-block">
          <svg class="h-4 w-4" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </span>
      </div>
    </div>
  </div>

  <select
    *ngIf="categories.length"
    #categorySelect
    class="mt-1 block w-full rounded-md shadow-sm border-gray-300 focus:border-teal-400 focus:ring-teal-400"
    (change)="selectCategory(+$event.target.value)"
  >
    <option *ngFor="let category of categories" [value]="category.id">{{ t(category.name) }}</option>
  </select>
</ng-container>
