<div *transloco="let t" class="relative">
  <button
    type="button"
    class="block ml-4 h-12 w-12 bg-indigo-200 rounded-full border-2 border-gray-400 hover:border-gray-500 focus:outline-none focus:border-gray-600"
    (click)="toggleDropdownMenu()"
  >
    <span class="text-lg font-semibold tracking-wide">{{ userInitials }}</span>
  </button>
  <div *ngIf="isDropdownMenuOpen" class="absolute right-0 w-32 rounded-lg mt-2 py-2 bg-white shadow-lg">
    <div class="block font-medium px-4 py-2 hover:bg-gray-100 cursor-pointer" (click)="logout()">
      {{ t('navigation.accountDropdown.signOut') }}
    </div>
  </div>
</div>
