<header class="bg-blue-900">
  <div class="flex justify-between items-center px-4 py-3">
    <div class="font-bold tracking-widest text-white">LOGO!</div>
    <div class="flex items-center">
      <button type="button" class="text-gray-400 hover:text-white focus:text-white focus:outline-none">
        <svg class="h-6 w-6 fill-current" viewBox="0 0 20 20">
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
      <exp-account-dropdown></exp-account-dropdown>
    </div>
  </div>
</header>
