<exp-authentication-layout>
  <form class="w-64 md:w-88 bg-white shadow-md rounded" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col divide-y-2 divide-gray-200">
      <div class="px-4 md:px-6 py-4 md:py-6">
        <div class="space-y-2 md:space-y-4 mb-4 md:mb-6">
          <!-- First Name input and error messages -->
          <div>
            <input
              class="md:leading-8 shadow rounded border-gray-100 w-full py-2 px-3 focus:outline-none focus:ring-2"
              [ngClass]="{
                'border-red-500 ring-2 ring-inset ring-red-500 focus:border-red-500 focus:ring-red-500':
                  submitted && registerForm.controls.firstName.errors,
                'focus:border-teal-400 focus:ring-teal-400': !submitted || !registerForm.controls.firstName.errors
              }"
              id="firstName"
              name="firstName"
              formControlName="firstName"
              type="text"
              placeholder="First name"
              required
              maxlength="100"
            />
            <div *ngIf="submitted && registerForm.controls.firstName.errors" class="mt-2 text-xs text-red-500">
              <div *ngIf="registerForm.controls.firstName.errors.required">The first name is required.</div>
              <div *ngIf="registerForm.controls.firstName.errors.maxLength">The first name length is limited to 100 characters.</div>
            </div>
          </div>

          <!-- Last Name input and error messages -->
          <div>
            <input
              class="md:leading-8 shadow rounded border-gray-100 w-full py-2 px-3 focus:outline-none focus:ring-2"
              [ngClass]="{
                'border-red-500 ring-2 ring-inset ring-red-500 focus:border-red-500 focus:ring-red-500':
                  submitted && registerForm.controls.lastName.errors,
                'focus:border-teal-400 focus:ring-teal-400': !submitted || !registerForm.controls.lastName.errors
              }"
              id="lastName"
              name="lastName"
              formControlName="lastName"
              type="text"
              placeholder="Last name"
              required
              maxlength="100"
            />
            <div *ngIf="submitted && registerForm.controls.lastName.errors" class="mt-2 text-xs text-red-500">
              <div *ngIf="registerForm.controls.lastName.errors.required">The last name is required.</div>
              <div *ngIf="registerForm.controls.lastName.errors.maxLength">The first name length is limited to 100 characters.</div>
            </div>
          </div>

          <!-- Email input and error messages -->
          <div>
            <input
              class="md:leading-8 shadow rounded border-gray-100 w-full py-2 px-3 focus:outline-none focus:ring-2"
              [ngClass]="{
                'border-red-500 ring-2 ring-inset ring-red-500 focus:border-red-500 focus:ring-red-500':
                  submitted && registerForm.controls.email.errors,
                'focus:border-teal-400 focus:ring-teal-400': !submitted || !registerForm.controls.email.errors
              }"
              id="email"
              name="email"
              formControlName="email"
              type="email"
              placeholder="Email"
              required
            />
            <div *ngIf="submitted && registerForm.controls.email.errors" class="mt-2 text-xs text-red-500">
              <div *ngIf="registerForm.controls.email.errors.required">The email is required.</div>
              <div *ngIf="registerForm.controls.email.errors.email">The email must be a valid email address.</div>
            </div>
          </div>

          <!-- Password input and error messages -->
          <div>
            <input
              class="md:leading-8 shadow rounded border-gray-100 w-full py-2 px-3 focus:outline-none focus:ring-2"
              [ngClass]="{
                'border-red-500 ring-2 ring-inset ring-red-500 focus:border-red-500 focus:ring-red-500':
                  submitted && registerForm.controls.password.errors,
                'focus:border-teal-400 focus:ring-teal-400': !submitted || !registerForm.controls.password.errors
              }"
              id="password"
              name="password"
              formControlName="password"
              type="password"
              placeholder="Password"
              required
            />
            <div *ngIf="submitted && registerForm.controls.password.errors" class="mt-2 text-xs text-red-500">
              <div *ngIf="registerForm.controls.password.errors.required">The password is required.</div>
              <div *ngIf="registerForm.controls.password.errors.minLength">The minimum password length is 6 characters.</div>
              <div *ngIf="!registerForm.controls.password.errors.required && registerForm.controls.password.errors.passwordStrength">
                The password must contain at least one lowercase letter, one uppercase letter, one number and one special character or
                symbol.
              </div>
            </div>
          </div>

          <!-- Confirm password input and error messages -->
          <div>
            <input
              class="md:leading-8 shadow rounded border-gray-100 w-full py-2 px-3 focus:outline-none focus:ring-2"
              [ngClass]="{
                'border-red-500 ring-2 ring-inset ring-red-500 focus:border-red-500 focus:ring-red-500':
                  submitted && registerForm.controls.confirmationPassword.errors,
                'focus:border-teal-400 focus:ring-teal-400': !submitted || !registerForm.controls.confirmationPassword.errors
              }"
              id="confirmationPassword"
              name="confirmationPassword"
              formControlName="confirmationPassword"
              type="password"
              placeholder="Confirm password"
              required
            />
            <div *ngIf="submitted && registerForm.controls.confirmationPassword.errors" class="mt-2 text-xs text-red-500">
              <div *ngIf="registerForm.controls.confirmationPassword.errors.required">The confirmation password is required.</div>
              <div
                *ngIf="
                  !registerForm.controls.confirmationPassword.errors.required &&
                  registerForm.controls.confirmationPassword.errors.confirmationPasswordMustMatch
                "
              >
                The password and confirmation password must match.
              </div>
            </div>
            <div *ngIf="emailAlreadyInUse" class="mt-2 text-sm text-red-500 text-center">The email you provided is already in use.</div>
          </div>
        </div>

        <!-- Sign Up section -->
        <div class="flex justify-center">
          <button
            class="w-28 py-2 px-4 rounded font-bold bg-teal-500 hover:bg-teal-600 text-white focus:outline-none focus:bg-teal-600"
            type="submit"
          >
            Sign Up
          </button>
        </div>
      </div>

      <!-- Log In section -->
      <div class="flex flex-col items-center px-4 md:px-6 py-4 rounded-b bg-gray-50">
        <p class="text-sm text-gray-500">Already have an account?</p>
        <button
          class="w-28 px-4 py-2 mt-6 rounded font-bold bg-teal-500 hover:bg-teal-600 text-white focus:outline-none focus:bg-teal-600"
          (click)="redirectToLogin()"
        >
          Log In
        </button>
      </div>
    </div>
  </form>
</exp-authentication-layout>
